:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.link-nav-main {
  color: tomato;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  margin-right: 1em;
}
.link-nav {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  margin-right: 1em;
}
nav {
  margin-bottom: 2em;
}

#app {
  max-width: 1350px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
h1,
h3 {
  text-decoration: underline;
  text-align: center;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  color: tomato ;
  text-decoration: none;
}
button {
  background-color: tomato;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"] {
  border: solid 1px black;
  background-color: white;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
